<h1>{{ message }}</h1>
<h2>MY BOOKED CABS</h2>
<form>
  <table>
    <thead>
    <th>From</th>
    <th>To</th>
    <th>Booking Date</th>
    <th>Booking Time</th>
    <th>Cab Type</th>
    <th>Driver Name</th>
    <th>Driver Rating</th>
    <th>Total Price</th>
    <th>Payment Type</th>
    <th>Edit Booking</th>
    <th>Delete Booking</th>
    </thead>
    <tbody>
    <tr *ngFor="let booking of myBookings">
      <td>{{ booking.source }}</td>
      <td>{{ booking.destination }}</td>
      <td>{{ booking.bookingDate }}</td>
      <td>{{ booking.bookingTime }}</td>
      <td>{{ booking.cabType }}</td>
      <td>{{ booking.driverName }}</td>
      <td>{{ booking.driverRating }}</td>
      <td>{{ booking.totalPrice }} €</td>
      <td>{{ booking.paymentType }}</td>
      <td>
        <button
          class="btn btn-primary"
          (click)="editBooking(booking.id, booking)"
        >
          Edit
        </button>
      </td>
      <td>
        <input class="btn btn-danger" type="button" value="Delete" (click)="deleteBooking(booking.id, booking)">
      </td>
    </tr>
    </tbody>
  </table>
</form>
