<div>
  <h2 class="card-header">Admin Panel</h2>
  <div>
    <button (click)="goToInsertHotel()">Insert Hotel</button>
    <button (click)="goToHotelsList()">Hotels List</button>
  </div>
  <div>
    <button (click)="flightInsert()">Insert Flight</button>
    <button (click)="flightList()">Flights List</button>
  </div>
  <div>
    <button (click)="destinationInsert()">Insert Destination</button>
    <button (click)="DestinationsList()">Destinations List</button>
  </div>
  <div>
    <button (click)="cabInsert()">Insert Cab</button>
    <button (click)="cabsList()">Cabs List</button>
  </div>
</div>
